################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/programas/P-Anios, Meses, Semanas, Dias/.vs/P-Anios, Meses, Semanas, Dias/v16
