################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/programas/P-Anios, Meses, Semanas, Dias/.vs/P-Anios, Meses, Semanas, Dias/v16
/programas/P-Calificaciones alumnos/.vs/P-Calificaciones alumnos/v16
/programas/P-Días vividos/.vs/P-Días vividos/v16
/programas/P-Dias vividos mejorado/.vs/P-Dias vividos mejorado/v16
/programas/P-Numero mayor y menor/.vs/P-Numero mayor y menor/v16
